.card {
    background-color: #fff;
    border: 1px solid var(--color-border, #e3e6f0);
    border-radius: var(--border-radius-default);
    margin-bottom: 1.5rem;
    box-shadow: var(--shadow-light);
}

.card-header {
    padding: 0.9375rem 1.25rem;
    background-color: #fcfcfc;
    border-bottom: 1px solid var(--color-border, #e3e6f0);
    border-top-left-radius: calc(0.35rem - 1px);
    border-top-right-radius: calc(0.35rem - 1px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    ;
}

.card-title {
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-text-dark);
}

.card-header .card-title {
    color: var(--color-primary);
}

.card-body {
    padding: 1.25rem;
}

.card-footer {
    padding: 0.9375rem 1.25rem;
    background-color: #fcfcfc;
    border-top: 1px solid var(--color-border, #e3e6f0);
    border-bottom-left-radius: calc(0.35rem - 1px);
    border-bottom-right-radius: calc(0.35rem - 1px);
}

/* Tabs en componente Card */
.card-header-tabs {
  padding: 0 !important;
  background-color: var(--color-bg-light, #f8f9fc) !important;
  border-bottom: 1px solid var(--color-border, #e3e6f0);
}

.card-header-tabs .nav-tabs-custom {
  border-bottom: none;
  margin-bottom: 0;
}

.card-header-tabs .nav-tabs-custom .nav-link.active {
  margin-bottom: -1px;
}

.card-header-tabs+.card-body>.tab-content>.tab-pane {
  padding: 1.5rem;
}

.tab-pane .form-fieldset {
  border: none;
  padding: 0;
}

.tab-pane .form-fieldset:not(:last-child) {
  margin-bottom: 1.5rem !important;
}