* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: var(--font-family-base);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-text-dark);
    background-color: var(--color-bg-light);
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--color-text-dark);
    font-weight: 600;
}

select:disabled,
input:disabled,
textarea:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}